[% # INCLUDE 'b-button-square.inc' %]
<button class="b-button-square b-button-square_color_green b-button-square_bg-inverse">foo</button>
<button class="b-button-square b-button-square_color_red">foo</button>
